*{
	margin: ;
}

.body{
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	font-family: helvetica;

}
.header{
	text-align: center;
	margin-bottom: 20px;
	
}

.p{
	border: 5px black;
	margin-right: auto;
	margin-left: auto;
font-family: helvetica;
clear: both;
		background-color:grey;
			width:auto;
			margin: 20px;
			border: 1px solid black;
			padding: 10px;

			}
	
.sub-head1{
			background-color: lightpink;
			float: right;
			margin: 20px;
			margin-bottom: 0px;
			border: 1px solid black;
			width: 20%;
			text-align: center;
			font-family: helvetica;


		}
		.sub-head2{background-color: red;
			float: right;
			margin: 20px;
			margin-bottom: 0px;
			border: 1px solid black;
			width: 20%;
			text-align: center;
			font-family: helvetica;

		}
		.sub-head3{background-color: lightgoldenrodyellow;
			float: right;
			margin: 20px;
			margin-bottom: 0px;
			border: 1px solid black;
			width: 20%;
			text-align: center;
			font-family: helvetica;

	}
		
	.row
{    margin-left: 40px;
	margin-right: 40px;
	
	display: flex;
	float: left;

}
 .grid-container, .grid-container-1
{
	display: flex;
    display: none;
}

/*MEDIA QUERY*/
/*DESKTOP SIZE*/

@media ( min-width: 992px) {
	.row{
		float: left;
}
.grid-container , .grid-container1{
	display: none;
}
}

/*TABLET SIZE*/

@media ( min-width: 768px ) and ( max-width: 991px){
		.grid-container , .grid-container1{
	display: flex;
	float: left;
}
	.row{
         display: none;
		float: left;
	}

}
/*MOBILE DEVICE*/

@media (max-width:767px ){
	.row{
		float: left;
		display: block;

}
.grid-container , .grid-container1{
	display: none;

}
}